<div class="hero-unit">
  <h2><%= t('homepage.title') %></h2>
  <p><%= t('homepage.content1') %></p>
  <p><%= t('homepage.content2') %></p>
  <a class="btn btn-primary btn-large" href="/jobs/new">
      <%= "Employer login" %>
  </a>
  <a class="btn btn-primary btn-large" href="/candidates/new">
    <%= "Upload your CV" %>
  </a>
</div>